covalent/
.vscode/
*.zip
**/*.deb
**/*.log
**/*.run
**/ijplugins
**/log
**/*.log
autoplank/
Cadence/
consul/
gnome-terminal-colors-dracula/
hosts/
home/user/.config/all-repos/*.json
netbox-docker/
jetbrains/
raspi-utils/
save*.*
**/*.save
signature.gpg
rules.conf
jetbrains-toolbox.tar.gz